:root {
    --text-color: #bcbcc4;
    --imp-text-color: #fff;
    --bg-color: #112234;
    --bg-highlight-color: #4c6786;

    --chatbar-bg: #192d42;

    --other-msg-fg: #e0e0e0;
    --other-msg-bg: #44444c;

    --current-msg-bg: #0f4347;

    --at-mention-color: #a2bfde;
    --url-color: #37d2db;

    --popup-border-radius: 1em;

    --table-border-radius: 5px;
    --table-header-text-color: #5d7190;
    --table-body-text-color: #a7bad8;

    --input-bg-color: #274361;
    --input-bg-highlight-color: #5178a3;

    --search-contact-result-color: #2b4b6d;

    --scrollbar-bg-color: #060b10;
    --scrollbar-thumb-color: #4c6786;

    --typing-ind-bg: #44444c;
    --typing-ind-fg: #c6d3d4;
    
    --code-border-color: #4c6786;
    --code-bg-color: #112234;
    --code-fg-color: #bcbcc4;
    --code-font: "Dank Mono";

    --emoji-background: #171717;
    --emoji-text: #9ec3b9;
    --emoji-border: #273e3a;
}

/* Hide this sidebar junk cus I don't want to see it anymore */
.JoinableMeetingsList, .Sidebar__homeLink, .AppMenu {
    display: none;
}

/* Make sidebar spacing a bit tighter */
.RoomListItemContainer__link, .ConversationListItemContainer__link {
    padding-top: 1px;
    padding-bottom: 1px;
}

.RoomListItemContainer__link:focus, .ConversationListItemContainer__link:focus {
    border: none !important;
} 

.ConversationListItemContainer__link, .NewMessageListItem__link {
    padding: 0;
}

.NewMessageListItem__link span {
    padding-left: 10px;
}

.ConversationListItemContainer {
    width: 50%;
}

.NewMessageListItem {
    width: 50%;
    white-space: nowrap;
}    

.ConversationList__items {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

/* Favorite List with lil margin just so the page don't have that FUNK */
.FavoriteList {
	margin-top: 20px;
}

/* Icon */
.Icon {
    color: var(--text-color);
}

/* Chatroom Bar */
.PresenceAndName__nameText {
    color: var(--imp-text-color);
}

.ChatContainer__top {
    background-color: var(--chatbar-bg);

    border: none;
}

/* Contact Search Bar */
#searchResultDropdownList span.PresenceAndName__nameText {
    color: var(--search-contact-result-color);
}

/* Msg Bar */
.ChatInput {
    background-color: var(--chatbar-bg);

    border: none;
}

.ChatInput__attachBtn,
.UnicodeEmojiPicker,
.ChatInput__elements {
    background-color: var(--input-bg-color);
}

.ChatInput__elements {
    border: none;
}

.ChatInput__attachBtn,
.UnicodeEmojiPicker {
    border-color: var(--input-bg-highlight-color);
}

/* Active Text */
div.DraftEditor-root > div > div > div[data-contents="true"] {
    color: var(--imp-text-color);
}

/* Chat Messages */
.ChatMessage__right {
    color: var(--text-color);
}

.ChatMessage__sender {
    color: var(--imp-text-color);
}

.ChatMessage,
.ChatContainer {
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* Mentions */
.AtMention, .Mention {
    color: var(--at-mention-color);

    background-color: transparent;
}

/* Mention Suggestions */
.MentionSuggestions {
    background-color: var(--chatbar-bg);
    color: var(--text-color);

    border-color: var(--bg-highlight-color);

    border-radius: var(--popup-border-radius);
}

.MentionSuggestions .MentionSuggestion--focused {
    background-color: var(--bg-highlight-color);
}

.MentionSuggestions .MentionSuggestion:first-child {
    border-top-left-radius: var(--popup-border-radius);
    border-top-right-radius: none;
}

.MentionSuggestions .MentionSuggestion:last-child {
    border-bottom-left-radius: var(--popup-border-radius);
    border-bottom-right-radius: none;
}

/* Chat Msg urls */
.ChatMessage__left a {
    color: var(--url-color) !important;
}

/* Other User Messages */
.ChatMessage__left {
    color: var(--other-msg-fg);
    background-color: var(--other-msg-bg);
}

/* Current User Msgs */
.ChatMessage--sentByCurrentUser .ChatMessage__left {
    background-color: var(--current-msg-bg);

    border: none;
}

/* Date Separator */
.ChatMessageDateSeparator__date, .ChatNewMessageSeparator__text {
    color: var(--imp-text-color);
}
.ChatMessageDateSeparator, .ChatNewMessageSeparator {
    background-color: var(--bg-color);
}
.ChatNewMessageSeparator::after, .ChatNewMessageSeparator::before,
.ChatMessageDateSeparator::after, .ChatMessageDateSeparator::before {
    background-color: var(--bg-highlight-color);
}

/* Typing Indicator */
.TypingIndicator {
    background-color: var(--bg-color);
}

.TypingIndicator__sender {
    color: var(--imp-text-color);
}

.TypingIndicator__content {
    background-color: var(--typing-ind-bg);
}

.Icon.TypingIndicator__icon {
    color: var(--typing-ind-fg);
}

/* Search Box */
.SearchInputBox, .SearchInputBox input {
    background-color: var(--input-bg-color);
    color: var(--text-color);

    border: none;
}

/* Emoji Box */
.EmojiSuggestion {
    border-color: var(--emoji-border);
}

.emoji-mart {
    background-color: var(--emoji-background);
    border-color: var(--emoji-border);
}

.emoji-mart-category-label > span {
    background-color: var(--emoji-background);
    color: var(--emoji-text);
}

.emoji-mart-bar {
    border-color: var(--emoji-border);
}

.emoji-mart-search input {
    background-color: var(--input-bg-color);
    color: var(--text-color);

    border: none;
}

.emoji-mart-search input::placeholder {
    color: var(--text-color);
}

.emoji-mart-search-icon svg {
    fill: var(--text-color);
}

.emoji-mart-emoji::before {
    background-color: transparent !important;
}

/* Emojis */
.Emoji {
    height: 1.6em;
    width: 1.6em;
}

/* Sidebar Toggle */
.ContentToggle {
    border: none;
}

/* New Messsage Search */
.SearchableEditor {
    background-color: var(--input-bg-color);

    border: none;
}

/* Code Blocks */
.ChatMessage__code, pre, code, .ChatMessage__markdown > pre {
    background-color: var(--code-bg-color);
    color: var(--code-fg-color);

    border-color: var(--code-border-color);
    border-radius: 5px;

    font-family: var(--code-font);
}

.ChatMessage__markdown > p > code {
    border: 1px solid var(--code-border-color);

    padding: 2px;
}

/* MD Table */
.ChatMessage__markdown table {
    width: 100%;

    margin-bottom: 0.1rem;
}

.ChatMessage__markdown table tr {
    background-color: var(--code-bg-color) !important;
}

.ChatMessage__markdown table th {
    color: var(--table-header-text-color);
}

.ChatMessage__markdown table td {
    color: var(--table-body-text-color);
}

.ChatMessage__markdown table th,
.ChatMessage__markdown table tr,
.ChatMessage__markdown table td {
    border: none;
    text-align: center;
}

.ChatMessage__markdown thead tr th:first-child {
    border-top-left-radius: var(--table-border-radius);
}

.ChatMessage__markdown thead tr th:last-child {
    border-top-right-radius: var(--table-border-radius);
}

.ChatMessage__markdown table tr:last-child td:first-child {
    border-bottom-left-radius: var(--table-border-radius);
}

.ChatMessage__markdown table tr:last-child td:last-child {
    border-bottom-right-radius: var(--table-border-radius);
}

/* Attachments Screen */
.AttachmentViewerContainer__headerTitle {
    color: var(--imp-text-color);
}

.Modal__content.Modal__content--FULLSCREEN.AttachmentViewerContainer {
    background-color: var(--bg-color);
}

/* Phonetool Mod */
.ChatMessage {
    padding-left: 3px;
}

.GM_PhoneTool {
    padding-top: 6px !important;
    margin-left: 0;
}

.GM__PhoneTool__image {
	transform: translateY(10%) scale(.98);
    
    width: 2.5rem !important;
    max-width: unset;
    height: 2.5rem;
    
    border: none !important;
    border-radius: 100%;
    
    object-fit: cover;
    object-position: 50% 35%;
}

/* Scrollbar */
*::-webkit-scrollbar {
    background-color: transparent;
    border-color: transparent;

    width: 0.7em;
    height: 0.7em;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);

    border-radius: 15px;
}

*::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg-color);
    
    border-radius: 15px;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}
